pandas
numpy
openpyxl
Flask
fastapi[standard]
langchain
langgraph
langsmith
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-community
google-generativeai
notebook
ipykernel
pillow
langgraph-cli[inmem]
langgraph-api
sqlalchemy
psycopg2-binary
qdrant-client
psycopg[binary]
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
alembic
pydantic-settings
langgraph-checkpoint-postgres
langchain-groq