pandas
numpy
openpyxl
Flask
fastapi[standard]
langchain
langgraph
langsmith
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-community
google-generativeai
notebook
ipykernel
pillow
streamlit
langgraph-cli[inmem]
langgraph-api
streamlit_chat
pyspark
langchain-ollama
streamlit-autorefresh
sqlalchemy
psycopg2-binary
qdrant-client
psycopg[binary]
python-jose
passlib[bcrypt]
python-multipart
alembic
pydantic-settings
langgraph-checkpoint-postgres
langchain-groq